g(id='first', transform='translate(-149.5,-110.5)', width='534', height='314')
  rect(id='gurkan', x='389.5', y='184.5', fill='#3FF4FF', stroke='#231F20', stroke-miterlimit='10', width='147', height='125')
  g(id='Strange')
    rect(id='translation', x='183.5', y='226.5', fill='#9FFFB5', stroke='#FF1F80', stroke-miterlimit='10', width='111', height='101')
